 html, body{
  height: 100%;
  width: 100%;


}

@keyframes backgroundAnimation{
	0%{background-position: left center;}
	50%{background-position: right center;}
	100%{background-position: left center;}
}




.nav-link {
  opacity: 0.7;
}

.nav-link:hover {
  opacity: 1;
  background-color: black;
}

header {
  /*sizing of the element*/
height: 600px;
  width:100%;
  /*moving background image*/


/*center the text*/
text-align: center;
font-family: 'Chivo Mono', monospace;
}

header p {
  /*font style property*/
  font-style: italic;
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: black;
}


.services {
text-align: center;
  
}

.services i {
  /*Adjust the size and position of the icon*/
font-size: 24px;
  padding: 15px 10px;
  /*color change for the icon*/
color: purple;
  background-color: skyblue;
  /*resize the container the icon is in*/
width: 80px;
height: 80px;
}

.services span{
  width: 200px;
  display: inline-block;
}




body{

    
    font-family: "Poppins", sans-serif;
    font-weight: 300;
   

   }



   ul{

    list-style: none;
    display: flex;
        margin-bottom: 0;
   }

    

    .social-icon{

          height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    margin-right: 11px;
    cursor: pointer;
      
    }

    


    .social-facebook{

      background-color: #3b5999;
    }


    .social-linkedin{

      background-color: #ad41e6;
    }


    .social-google{

      background-color: #000000;
    }

   

    .social-icon i{

      transition: 0.4s all;
    }

    .social-icon:hover i{

      transform: scale(1.1);

    }




*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    color: whitesmoke;
    line-height: 1.6;
    text-align: center;
}

.container{
    max-width: 960px;
    margin: auto;
    padding: 0 30px;
}

#showcase{
    height: 300px;
}

#showcase h1{
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation: heading;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
}

@keyframes heading{
    0%{top: -50px;}
    100%{top: 200px;}
}

#content{
    position: relative;
    animation-name: content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes content{
    0%{left: -1000px;}
    100%{left: 0;}
}

.btn{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    padding: 1rem 2rem;
    border: #ffffff 1px solid;
    margin-top: 40px;
    opacity: 0;
    animation-name: btn;
    animation-duration: 2500ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    pointer-events: none;

    background-color: skyblue;

    transition-property: transform;
    transition-duration: 1s;
}

.btn:hover{
    transform: rotateY(180deg);
}

@keyframes btn{
    0%{opacity: 0;}
    100%{opacity: 1; pointer-events: all;}
}

.imageText{
    display: inline-block;
    background-color: #13141fad;
    border-radius: 15px;
    margin:40px;
    
    opacity: 0;

    animation-name: btn;
    animation-duration: 3500ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

.imageText:hover{
    box-shadow: 0 0 .5rem ghostwhite;
}

.imageText img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.imageText a{
    color: ghostwhite;
    font-size: 25px;
}

@keyframes thingsAnimation{
    0%{opacity: 0;}
    100%{opacity: 1; }
}

#start{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("placer.jpg");
    background-size: fill;
    animation: bgAnimation 15s ease infinite;
}

#end{
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("res/bg2.jpg");
    background-size: fill;
    animation: bgAnimation 15s ease infinite;
}

@keyframes bgAnimation{
    0%{background-position:left center; }
    50%{background-position:right center; }
    100%{background-position:left center; }
}

.eBtn{
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    padding:1rem;
    border: #ffffff 1px solid;
    margin: 20px;
    opacity: 0;
    animation-name: btn;
    animation-duration: 2500ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    pointer-events: none;

    background-color: yellow;

    transition-property: transform;
    transition-duration: 1s;
}

.eBtn:hover{
    transform: rotateY(180deg);
    box-shadow: 0 0 .5rem ghostwhite;
}

a img{
    width: 70px;
    height: 70px;
    margin: 0px;
}

#backToTop{
    position: fixed;
    float: right;
    background-color: grey;
    width: 50px;
    height: 50px;
    padding: 15px;
    color: white;
    bottom: 15px;
    right: 15px;
    font-size: 15px;
    border-radius: 25px;
    border: 1px solid black;
    text-decoration: none;
}

#backToTop:hover{
    box-shadow: 0 0 .5rem ghostwhite;
    transform: scale(1.25, 1.25);
}

#showAll{
    font-size: 40px;
    background-color: gray;
    color: white;
    padding: 25px;
}


